*{
  font-family: 'Josefin Sans', sans-serif;
  color: aliceblue;
}

.grid{
  background-color: #336E7B;
  height: 100%;
  border: 1px solid aliceblue;
  border-radius: 5px;
  padding: 20px;
  font-size: 0;
  text-align: justify;
}

.form-input > {
  color: #336E7B;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.grid > * {
  display: inline-block;
  font-size: medium;
  text-align: left;
  min-width: 30%;
}

.grid:after{
  content: "";
  display: inline-block;
  width: 100%;
}

input {
  color: aliceblue;
  background-color: #336E7B;
  width: 100%;
  height: 30px;
  font-size: medium;
  border: 3px solid aliceblue;
}
input:focus{
  border: 3px solid #22313F;
}
textarea:focus{
  border: 3px solid #22313F;
}
select:focus{
  border: 3px solid #22313F;
}
.form-set{
  padding-top: 30px;
}

textarea {
  width: 100%;
  min-height: 60px;
  color: aliceblue;
  background-color: #336E7B;
  font-size: medium;
  border: 3px solid aliceblue;
}

select {
  width: 100%;
  color: aliceblue;
  background-color: #336E7B;
  font-size: medium;
  border: 3px solid aliceblue;
  height: 30px;
}
